{% extends 'base.html' %}

{% block content %}
    <h2>Tipos <a href="create_tipo/" class="btn btn-default">Agregar tipo</a></h2>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Depende de salario</th>
            <th>Monto</th>
            <th>Porcentaje</th>
            <th>Activo</th>
            <!--<th>Acciones</th>-->
        </tr>
    </thead>
    <tbody>
        {% for tipo in all_tipo %}
            <tr>
            <td>{{ tipo.get_tipo_display }}</td>
            <td>{{ tipo.nombre }}</td>
            <td>{{ tipo.depende_salario }}</td>
            <td>{{ tipo.monto }}</td>
            <td>{{ tipo.porcentaje }}</td>
            <td>{{ tipo.activo }}</td>
            <!--<td><a href="{{ tipo.pk }}/">Ver</a></td>-->
            </tr>
        {% endfor %}
    </tbody>

    </table>
{% endblock %}